<!-- venue_list.html -->
{% extends "base.html" %}
<!-- venue_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Venue List</title>
</head>
<body>
    <h1>Venue List</h1>

    {% if venues %}
        <ul>
            {% for venue in venues %}
                <li>{{ venue.name }}</li>
                {% if venue.room_set.all %}
                    <ul>
                        {% for room in venue.room_set.all %}
                            <li>{{ room.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No rooms available for this venue.</p>
                {% endif %}
            {% endfor %}
       
